body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding:0;
  margin:0;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  color:rgb(226, 43, 220);
}
nav ul {
  background: #a62323;
  display: flex;
  list-style:none;
  padding:0;
  margin:0;
  justify-content: space-between;
}
nav ul li a {
  display: block;
  padding:15px 30px;
  text-decoration: none;
}
main {
  padding:0 20px;
}
main h1 {
  text-align: center;
  font-size:1.6rem;
}
main h2 {
  font-size:1.4rem;
  text-align: center;
  color:#f00;
}
img {
  padding:20px;
  border:1px solid #ccc;
  box-shadow: 0 0 10px #333;
}
p:has(img) {
  margin-bottom:100px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width:100%;
  margin-bottom:100px;
}
table td,table th {
  border:solid 1px #ccc;
  padding:10px 20px;
}
table th {
  background: #eee;
}
form {
  background: #ccc;
  padding:20px 0;
  text-align: center;
}
textarea {
  margin:20px 0 0 0;
}
input[type="submit"] {
	width:200px;
  color: #fff;
  padding: 5px 0px;
  margin:20px 0;
	background: #5c87a6;
  border: 1px solid #5c87a6;
  border-radius: 8px;
}
footer {
  font-size:0.9rem;
  text-align: center;
  padding:20px;
  background: #999;
  color:#FFF;
}